@model PermissionManagement.MVC.Models.Brand

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddOrEdit"  asp-route-id="@Model.BrandID" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="BrandID" />

            <div class="form-group">
                <label asp-for="BrandNom" class="control-label"></label>
                <input asp-for="BrandNom" class="form-control" />
                <span asp-validation-for="BrandNom" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-secondary btn-block btn-md text-white"  />
                <a asp-action="Index" class="btn btn-dark btn-block btn-md text-white">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
