@model User

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger" placeholder="Email"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger" placeholder="Password"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger" placeholder="Password"></span>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-secondary btn-block btn-md text-white"  />
                <a asp-action="Index" class="btn btn-dark btn-block btn-md text-white">Back to List</a>
            </div>

        </form>
    </div>
</div>