@model IEnumerable<PermissionManagement.MVC.Models.PlanTarget>

@{
    ViewData["Title"] = "Index";
}

@{
    var plan = Model.First().PlanMarketing.Name;
}

<center>
<h3>
    Targets of Marketing Plan : @plan
</h3>
</center>

    


<table id="example" class="table table-bordered bg-white" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Compte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (item.Compte == null){
                    <td>
                        Not Associated
                    </td>
                }else{
                    <td>
                    @Html.DisplayFor(modelItem => item.Compte.AccountName)
                </td>
                }
                @if (item.Contact == null){
                    <td>
                        Not Associated
                    </td>
                }else{
                    <td>
                    @Html.DisplayFor(modelItem => item.Contact.LastName)
                </td>
                }

            </tr>
        }
    </tbody>
</table>
